.wrapper {
  /* background-color: rgb(240, 249, 255); */
  margin: 0;
  display: grid;
  grid-template-areas:
    "quote ."
    "firstName lastName"
    "email email"
    "phone phone"
    "from to"
    "amount amount"
    "btn .";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.test {
  border: 1px solid red;
}

.required {
  color: red;
  font-size: 1.2rem;
}

p {
  display: inline-block;
}

#normalRequired {
  display: block;
}

#firstName {
  grid-area: firstName;
}

#lastName {
  grid-area: lastName;
}

#email {
  grid-area: email;
}

#phone {
  grid-area: phone;
}

#from {
  grid-area: from;
}

#to {
  grid-area: to;
}

#amount {
  grid-area: amount;
}

#quote {
  grid-area: quote;
}
#btn {
  grid-area: btn;
}
